@import url("reset.css");
@import url("simple.css");

/* General Page Structure
==================================================================================================== */
body {
  background-color: #5a787e;
  border-top: 4px solid #000;
  margin: 0;
  padding: 0; }

div.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1000px; }

/* Clearing
==================================================================================================== */
div.wrapper:after,
section.page:after,
div.document:after,
div.document .nav:after,
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/* General Typography
==================================================================================================== */
body {
  font: 14px/1.5 Arial, Helvetica, sans-serif; }

.content .flash .message {
  height: 48px;
  line-height: 48px;
  padding: 0 30px; }
  .content .flash .message h1 {
    float: left; }
.content .flash .message {
  margin: 2px 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

/* Page
==================================================================================================== */
.container .content {
  background: url(images/bg-pattern.gif) repeat 0 0;
  margin: 0;
  padding: 0;
  /* page title ---------------------------------------- */ }
  .container .content div.wrapper {
    background-color: #fff;
    padding: 0 0; }
  .container .content h1.list-header {
    background: url(images/list-header-bg.png) repeat-x 0 0;
    clear: both;
    color: #fff;
    font-size: 16px;
    float: none !important;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin: -40px 0 0;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    z-index: 3; }
    .container .content h1.list-header a {
      margin: 0;
      color: #fff;
      text-decoration: none; }
      .container .content h1.list-header a:hover {
        text-decoration: underline; }

.container header.toplevel {
  background: #5a787e url(images/header-bg.png) repeat-x 0 0;
  height: 162px;
  margin: 0;
  padding: 0;
  position: relative;
  /* logo ---------------------------------------- */
  /* user sign-in tab ---------------------------------------- */
  /* help ---------------------------------------- */
  /* nav menu ---------------------------------------- */ }
  .container header.toplevel div.wrapper {
    position: relative; }
  .container header.toplevel hr {
    display: none; }
  .container header.toplevel a.logo,
  .container header.toplevel a.logo img {
    display: block;
    float: left; }
  .container header.toplevel a.logo img {
    margin: 20px 0 0; }
  .container header.toplevel #user-tab {
    background-color: #000;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    color: #fff;
    float: right;
    font-size: 12px;
    padding: 4px 15px 8px;
    position: relative; }
  .container header.toplevel #user-tab a {
    color: #f6d017;
    text-decoration: underline; }
  .container header.toplevel #help {
    color: #fff;
    float: right;
    font-size: 12px;
    padding: 4px 15px 8px; }
  .container header.toplevel #help strong {
    color: #fff;
    text-decoration: underline; }
  .container header.toplevel #help a {
    color: #fff; }
  .container header.toplevel nav {
    background-color: #333;
    -moz-border-radius: 7px 0px 0px 7px;
    -webkit-border-radius: 7px 0px 0px 7px;
    border-radius: 7px 0px 0px 7px;
    clear: right;
    float: right;
    font-size: 16px;
    list-style: none;
    margin: 65px 0 0;
    padding: 10px 15px;
    position: relative; }
  .container header.toplevel nav li {
    color: #fff;
    float: left;
    padding: 0 15px; }
  .container header.toplevel nav li a {
    color: #fff;
    text-decoration: none; }
  .container header.toplevel nav li a.active {
    color: #f6d017; }

.document h2 {
  margin-bottom: 0.5em; }
.document ul.scans {
  margin-bottom: 1em; }
  .document ul.scans li {
    display: inline;
    margin-right: 5px; }
.document form.document input {
  display: block;
  clear: left;
  margin-bottom: 1em; }

header.page a {
  float: left;
  margin-left: 2em; }

div.documents {
  margin-top: 1em; }

table.documents {
  width: 100%;
  min-height: 300px; }
  table.documents th, table.documents td {
    padding: 0 10px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff; }
  table.documents thead th.date {
    width: 13%; }
  table.documents thead th.supplier {
    width: 28%; }
  table.documents thead th.invoice {
    width: 28%; }
  table.documents thead th.action {
    width: 22%; }
  table.documents thead tr .header, table.documents thead tr.filters td {
    background-color: #e6e6e6; }
    table.documents thead tr .header select, table.documents thead tr.filters td select {
      font-size: 12px; }
  table.documents thead tr .header {
    background-image: url(images/tablesorter/bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }
  table.documents thead tr .headerSortUp {
    background-image: url(images/tablesorter/asc.gif);
    background-color: #e6e6e6; }
  table.documents thead tr .headerSortDown {
    background-image: url(images/tablesorter/desc.gif);
    background-color: #e6e6e6; }
  table.documents thead tr.filters td {
    text-align: right; }
  table.documents thead tr.filters td.plain {
    background-color: #fff; }
  table.documents tbody tr {
    border-bottom-width: 1px; }
  table.documents tr.edited td.editor {
    font-size: 8pt;
    width: 10px;
    overflow: hidden; }

table.documents th {
  line-height: 2; }
table.documents th.supplier, table.documents td.supplier {
  text-transform: uppercase; }
table.documents th.organization, table.documents td.organization {
  display: none; }
table.documents th.postponed, table.documents td.postponed {
  display: none; }
table.documents td {
  line-height: 34px; }
  table.documents td a {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0 0 0 34px;
    height: 24px;
    line-height: 24px; }
    table.documents td a.command-dataentry {
      background-image: url(images/actions/data-entry.png); }
    table.documents td a.command-ocrvalidator {
      background-image: url(images/actions/verify-data.png); }
    table.documents td a.command-practiceapprover {
      background-image: url(images/actions/practice-approver.png); }
    table.documents td a.command-hqapprover {
      background-image: url(images/actions/hq-approver.png); }
    table.documents td a.command-hqcontroller {
      background-image: url(images/actions/hq-controller.png); }
    table.documents td a.command-suppliercreator {
      background-image: url(images/actions/supplier-creator.png); }
    table.documents td a.command-glaccountcreator {
      background-image: url(images/actions/glaccount-creator.png); }
    table.documents td a.command-organizationpicker {
      background-image: url(images/actions/organization-picker.png); }
    table.documents td a.command-overseaspaymentprocessor {
      background-image: url(images/actions/overseas-payment.png); }
    table.documents td a.command-prontoadmin {
      background-image: url(images/actions/pronto-review.png); }

section.page {
  /* search ---------------------------------------- */
  /* tabs ---------------------------------------- */ }
  section.page .search {
    float: right;
    line-height: 46px;
    position: relative; }
    section.page .search input[type="search"] {
      background-color: #fff;
      border: 1px solid #a0a0a0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-appearance: none;
      border-radius: 5px;
      color: #999;
      font: 14px Arial, Helvetica, sans-serif;
      outline: none;
      padding: 5px 25px 5px 5px; }
    section.page .search .spinner {
      display: none;
      position: absolute;
      right: 75px;
      top: 20px; }
    section.page .search input[type="submit"] {
      background: white url(images/search-button.gif) no-repeat 0 0;
      cursor: pointer;
      border: none;
      display: block;
      height: 19px;
      padding: 0;
      position: absolute;
      right: 7px;
      top: 14px;
      width: 15px; }
    section.page .search.active .spinner {
      display: block; }
  section.page form.search {
    margin: 0 0 0 20px; }
  section.page .tabs {
    background-color: #e1e1e1;
    border-bottom: 1px solid #a0a0a0;
    color: #666666;
    height: 46px;
    margin: 0 -15px 20px;
    padding: 0 15px; }
    section.page .tabs nav {
      height: 37px;
      list-style-type: none;
      padding: 9px 0 0; }
  section.page nav li {
    background: #e3e3e3;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2MwYzBjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e3e3e3 0%, silver 75%, #a0a0a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3e3e3), color-stop(75%, silver), color-stop(100%, #a0a0a0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e3e3e3 0%, silver 75%, #a0a0a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e3e3e3 0%, silver 75%, #a0a0a0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e3e3e3 0%, silver 75%, #a0a0a0 100%);
    /* IE10+ */
    background: linear-gradient(top, #e3e3e3 0%, silver 75%, #a0a0a0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#a0a0a0',GradientType=0 );
    /* IE6-8 */
    border-color: #a0a0a0;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    color: #666666;
    cursor: pointer;
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 2px 0 0;
    padding: 0 15px;
    text-transform: uppercase; }
    section.page nav li:hover {
      color: #000; }
    section.page nav li.active {
      background: -moz-linear-gradient(top, #8babb2 0%, #5a787e 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8babb2), color-stop(100%, #5a787e));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #8babb2 0%, #5a787e 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #8babb2 0%, #5a787e 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #8babb2 0%, #5a787e 100%);
      /* IE10+ */
      background: linear-gradient(top, #8babb2 0%, #5a787e 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8babb2', endColorstr='#5a787e', GradientType=0 );
      /* IE6-8 */
      color: #fff; }
.content section.page div.wrapper {
  padding: 20px 0;
}
section.page #feature {
  background: url(images/feature.jpg) no-repeat 0 0;
  border: 1px solid #CCC;
  height: 345px;
  margin: 0 auto;
  width: 976px;
}
section.page #intro {
  margin: 0 0 0 700px;
  padding: 30px 16px 0;
}
section.page #intro h1 {
  color: #5A787E;
  font-size: 33px;
  font-weight: normal;
  line-height: 1;
  margin-left: -16px;
}
section.page h1 {
  margin: 0 0 38px;
}
section.page #intro p {
  margin: 0 0 18px;
}
section.page #intro p.messagebox {
  font-weight: bold;
}
section.page #intro p.messagebox.mistake {
  color: #C00;
}
section.page #intro p.messagebox.confirmation {
  color: #280;
}
section.page .login-form input.title {
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #999;
  padding: 9px;
  width: 210px;
}
section.page #username,
section.page #password {
  width: 210px;
}

table.documents tr.edited {
  background-color: #e8e8e8; }
  table.documents tr.edited td {
    border-color: #e8e8e8; }
  table.documents tr.edited td.editor {
    color: #f00; }

.not-connected {
  display: none;
  color: #fff;
  filter: alpha(opacity=85);
  opacity: 0.85;
  position: absolute;
  top: 65px;
  left: 317px;
  padding: 5px;
  text-align: center;
  line-height: 15px;
  background-color: #333;
  border: 1px solid #000;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; }
  .not-connected span {
    font-size: 8pt; }

table.documents {
  background-color: white; }
  table.documents th {
    color: #333;
    text-align: left; }
  table.documents tbody tr {
    border-bottom-style: solid;
    border-bottom-color: #d9d9d9; }
  table.documents tbody tr, table.documents tbody td {
    cursor: pointer; }
    table.documents tbody tr span.unavailable, table.documents tbody td span.unavailable {
      color: #999; }
  table.documents tbody tr:hover {
    background-color: #eeeeee; }
    table.documents tbody tr:hover td {
      border-color: #eeeeee; }
  table.documents td a {
    color: #667e08; }
  table.documents img.doc_loading_spinner {
    vertical-align: middle;
    display: none; }

div.document {
  clear: both;
  padding: 20px 0;
  /* Document Buttons
  ==================================================================================================== */ }
  div.document a {
    color: #667e08;
    text-decoration: none; }
  div.document .nav {
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 0 0 5px;
    position: relative;
    text-align: right; }
    div.document .nav .close {
      display: block;
      float: left; }
    div.document .nav .link {
      margin: 0 0 0 20px; }
    div.document .nav .link.unread-notes,
    div.document .nav .link.unread-notes:visited {
      color: #f00; }
    div.document .nav .link.unread-notes:hover {
      color: #00e; }
    div.document .nav .prev, div.document .nav div.document .nav .next {
      display: inline-block;
      margin-left: 2em; }
    div.document .nav .print {
      background: url(images/print-icon.png) no-repeat left center;
      padding: 2px 0 2px 23px; }
  div.document div.actions-wrapper {
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 0 0 20px; }
  div.document p.action button,
  section.page p.action input.button,
  div.document input.button {
    background-color: #484549;
    border: none;
    border-left: 6px solid #918f91;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ccc;
    display: inline-block;
    margin: 0 5px 5px 0 !important;
    padding: 3px 10px !important; }
    div.document p.action button:hover,
    div.document input.button:hover {
      color: #fff; }
  div.document .submitting p.action input.button,
  div.document .submitting input.button {
    color: #888;
    cursor: default; }
  div.document p.action .submit-indicator {
    float: right;
    display: none; }
  div.document p.action button.primary,
  section.page p.action input.button.primary,
  div.document p.action button.secondary {
    border-width: 10px;
    font-size: 18px !important;
    padding: 6px 10px !important; }
  div.document p.action button.primary,
  section.page p.action input.button.primary {
    background: #8babb2;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4NzIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM4QkFCQjIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1QTc4N0UiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4NzIpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #8babb2 0%, #5a787e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8babb2), color-stop(100%, #5a787e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8babb2 0%, #5a787e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8babb2 0%, #5a787e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8babb2 0%, #5a787e 100%);
    /* IE10+ */
    background: linear-gradient(top, #8babb2 0%, #5a787e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8babb2', endColorstr='#5a787e', GradientType=0 );
    /* IE6-8 */
    border-color: #8babb2;
    color: #fff; }
    div.document p.action button.primary:hover,
    section.page p.action input.button.primary:hover {
      color: #666; }
  div.document p.action button.secondary {
    background: #e3e3e3;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e3e3e3 0%, #a0a0a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3e3e3), color-stop(100%, #a0a0a0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e3e3e3 0%, #a0a0a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e3e3e3 0%, #a0a0a0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e3e3e3 0%, #a0a0a0 100%);
    /* IE10+ */
    background: linear-gradient(top, #e3e3e3 0%, #a0a0a0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#a0a0a0',GradientType=0 );
    /* IE6-8 */
    border-color: #ddd;
    color: #666666; }
    div.document p.action button.secondary:hover {
      color: #fff; }
  div.document .submitting p.action .submit-indicator {
    display: block; }
  div.document .submitting p.action button.primary,
  div.document .submitting p.action button.secondary {
    color: #ccc; }
  div.document div.scans {
    width: 650px;
    position: relative; }
    div.document div.scans .loadmask {
      height: 622px; }
    div.document div.scans .controls form {
      display: inline; }
    div.document div.scans > .scan {
      width: 100%;
      overflow: hidden; }
    div.document div.scans .panFullSize {
      cursor: move; }
    div.document div.scans ul.pages {
      list-style: none;
      margin-top: 5px; }
      div.document div.scans ul.pages li {
        display: block;
        float: left;
        padding: 2px;
        margin: 0 2px;
        border: 1px solid #000; }
      div.document div.scans ul.pages:after {
        clear: left;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden; }
    div.document div.scans .controls.bottom {
      margin-top: 10px; }
  div.document .split_warning {
    position: absolute;
    top: 0;
    width: 550px;
    margin: 0 208px;
    padding: 8px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-size: 1.1em;
    text-align: center; }
  div.document .current-editors {
    display: none;
    background-color: #EAC517;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 2;
    font-weight: bold; }
    div.document .current-editors .warn {
      font-size: 16px;
      margin-bottom: 10px; }
    div.document .current-editors .editors {
      font-weight: bold; }
  div.document .split_warning {
    background-color: #FEF7CB;
    border: 1px solid #FFE475; }
  div.document div.attach-scan {
    clear: left;
    width: 650px;
    margin-top: 10px; }
    div.document div.attach-scan h3 {
      margin-bottom: 10px; }
  div.document > div.details {
    width: 300px;
    float: right; }
    div.document > div.details div.data {
      border-bottom: 1px solid #d9d9d9;
      margin: 0 0 20px;
      padding: 0 0 20px; }
      div.document > div.details div.data dt {
        font-weight: bold;
        margin-top: 1em; }
      div.document > div.details div.data dd {
        line-height: 1.5;
        margin-bottom: 0.25em; }
      div.document > div.details div.data .inline {
        margin-top: 1em;
        margin-bottom: 0.25em; }
        div.document > div.details div.data .inline dt, div.document > div.details div.data .inline dd {
          display: inline; }
    div.document > div.details div.commands .input,
    div.document > div.details div.actions .input {
      border-bottom-width: 1px; }
    div.document > div.details div.commands h2,
    div.document > div.details div.actions h2 {
      text-align: left; }
    div.document > div.details div.commands label,
    div.document > div.details div.actions label {
      display: block;
      float: left; }
    div.document > div.details div.commands input,
    div.document > div.details div.actions input {
      border-width: 1px;
      border-radius: 5px;
      padding: 0.5em 10px;
      width: 278px; }
    div.document > div.details div.commands .checkbox input,
    div.document > div.details div.actions .checkbox input {
      width: auto;
      float: left; }
    div.document > div.details div.commands .checkbox input + label,
    div.document > div.details div.actions .checkbox input + label {
      margin-left: 5px; }
    div.document > div.details div.commands .checkbox:after,
    div.document > div.details div.actions .checkbox:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden; }
    div.document > div.details div.commands #supplier_complicated p,
    div.document > div.details div.actions #supplier_complicated p {
      font-weight: bold;
      margin-bottom: 0.3em; }
    div.document > div.details div.commands select,
    div.document > div.details div.actions select {
      width: 300px; }
    div.document > div.details div.commands #credit_note_message,
    div.document > div.details div.actions #credit_note_message {
      text-align: left;
      display: block;
      padding: 10px; }
    div.document > div.details div.commands #credit_note_container,
    div.document > div.details div.actions #credit_note_container {
      font-weight: bold;
      padding: 8px 0; }
    div.document > div.details div.commands #invoice_lines,
    div.document > div.details div.actions #invoice_lines {
      border-top: 1px #eee solid;
      border-bottom: 1px #eee solid;
      padding: 10px 4px;
      margin-bottom: 10px; }
      div.document > div.details div.commands #invoice_lines fieldset p,
      div.document > div.details div.actions #invoice_lines fieldset p {
        text-align: left;
        font-weight: bold;
        padding: 3px 4px 8px 4px; }
      div.document > div.details div.commands #invoice_lines fieldset:nth-child(even),
      div.document > div.details div.actions #invoice_lines fieldset:nth-child(even) {
        background-color: #eee; }
    div.document > div.details div.commands #invoice_lines_add,
    div.document > div.details div.actions #invoice_lines_add {
      text-align: left;
      display: block; }
    div.document > div.details div.commands #invoice_lines_list,
    div.document > div.details div.actions #invoice_lines_list {
      clear: left; }
    div.document > div.details div.commands .supplier_spinner,
    div.document > div.details div.actions .supplier_spinner {
      display: none; }
    div.document > div.details div.commands .fixed-val p,
    div.document > div.details div.actions .fixed-val p {
      padding: 0.5em 10px;
      width: 320px;
      min-height: 1em; }
    div.document > div.details div.commands .field_with_errors,
    div.document > div.details div.actions .field_with_errors {
      position: relative; }
      div.document > div.details div.commands .field_with_errors .error,
      div.document > div.details div.actions .field_with_errors .error {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-left: 1em; }
    div.document > div.details div.commands .field_with_warnings,
    div.document > div.details div.actions .field_with_warnings {
      position: relative; }
      div.document > div.details div.commands .field_with_warnings .warning,
      div.document > div.details div.actions .field_with_warnings .warning {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-left: 1em; }
    div.document > div.details .action button {
      padding: 0.5em 1em; }
    div.document > div.details div.history,
    div.document > div.details div.notes {
      margin-top: 1em; }
      div.document > div.details div.history ul,
      div.document > div.details div.notes ul {
        list-style: none; }
        div.document > div.details div.history ul li,
        div.document > div.details div.notes ul li {
          display: block;
          border-bottom-width: 1px;
          padding: 0.5em 0; }
          div.document > div.details div.history ul li .details time,
          div.document > div.details div.notes ul li .details time {
            display: block;
            float: right; }

div.document h2 {
  font-size: 18px; }
div.document div.commands,
div.document div.actions {
  line-height: 1.5em; }
  div.document div.commands input,
  div.document div.actions input {
    margin-bottom: 1em; }
  div.document div.commands ul li,
  div.document div.actions ul li {
    list-style: none; }
div.document .actions form p.action {
  margin-top: 10px; }
div.document .action.cancel {
  padding-top: 10px; }
div.document .action button {
  font-size: 1em; }
  div.document .action button.extra {
    display: none; }
div.document div.history ul li,
div.document div.notes ul li {
  line-height: 1.25em; }
  div.document div.history ul li .details,
  div.document div.notes ul li .details {
    font-size: 0.9em; }
    div.document div.history ul li .details time,
    div.document div.notes ul li .details time {
      font-weight: 200; }

.user-conflict {
  background: url(images/conflict-bg.png); }

div.document h2 {
  line-height: 26px;
  background-position: right center;
  background-repeat: no-repeat; }
  div.document h2.command-dataentry {
    background-image: url(images/actions/data-entry.png); }
  div.document h2.command-ocrvalidator {
    background-image: url(images/actions/verify-data.png); }
  div.document h2.command-practiceapprover {
    background-image: url(images/actions/practice-approver.png); }
  div.document h2.command-hqapprover {
    background-image: url(images/actions/hq-approver.png); }
  div.document h2.command-hqcontroller {
    background-image: url(images/actions/hq-controller.png); }
  div.document h2.command-suppliercreator {
    background-image: url(images/actions/supplier-creator.png); }
  div.document h2.command-glaccountcreator {
    background-image: url(images/actions/glaccount-creator.png); }
  div.document h2.command-organizationpicker {
    background-image: url(images/actions/organization-picker.png); }
  div.document h2.command-overseaspaymentprocessor {
    background-image: url(images/actions/overseas-payment.png); }
  div.document h2.command-prontoadmin {
    background-image: url(images/actions/pronto-review.png); }
div.document div.description {
  text-align: left;
  margin-bottom: 20px; }
div.document #credit_note_message {
  background-color: #FFFDE8;
  border-style: dashed;
  border-color: #FFD500;
  color: #665555;
  margin-bottom: 10px; }
div.document div.commands .input,
div.document div.actions .input {
  border-bottom-style: solid;
  border-bottom-color: transparent; }
  div.document div.commands .input input,
  div.document div.actions .input input {
    border-style: solid;
    border-color: silver; }
  div.document div.commands .input.field_with_errors,
  div.document div.actions .input.field_with_errors {
    background-color: #fff8f8;
    border-bottom-style: dashed;
    border-bottom-color: red; }
    div.document div.commands .input.field_with_errors .error,
    div.document div.actions .input.field_with_errors .error {
      color: #ff6666;
      font-size: smaller;
      font-weight: lighter; }
    div.document div.commands .input.field_with_errors input,
    div.document div.actions .input.field_with_errors input {
      border-color: red;
      background-color: #ffeeee; }
  div.document div.commands .input.field_with_warnings,
  div.document div.actions .input.field_with_warnings {
    background-color: #FFFDE8;
    border-bottom-style: dashed;
    border-bottom-color: #FFD500; }
    div.document div.commands .input.field_with_warnings .warning,
    div.document div.actions .input.field_with_warnings .warning {
      color: #665555;
      font-size: smaller;
      font-weight: lighter; }
    div.document div.commands .input.field_with_warnings input,
    div.document div.actions .input.field_with_warnings input {
      border-color: #FFD500;
      background-color: #FFF8E1; }
div.document div.history form textarea,
div.document div.notes form textarea {
  border: 1px solid #ccc;
  height: 60px;
  padding: 5px;
  max-width: 288px;
  width: 288px; }
div.document div.history ul li,
div.document div.notes ul li {
  border-style: solid;
  border-color: silver; }
  div.document div.history ul li .details,
  div.document div.notes ul li .details {
    color: #444; }

div.document.split {
  min-height: 600px; }
  div.document.split h2 {
    margin-top: 5px;
    clear: both; }
  div.document.split div.scans {
    margin-right: 0; }
    div.document.split div.scans .pages {
      margin: 30px 0; }
      div.document.split div.scans .pages li {
        margin: 10px 18px;
        padding: 5px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top; }
        div.document.split div.scans .pages li .controls {
          width: 100%; }
    div.document.split div.scans .actions-wrapper {
      border: none;
      margin: 20px;
      padding: 0; }
  div.document.split .flash .message.alert {
    margin-top: 20px; }

div.document.split h2 {
  text-align: center; }
div.document.split p {
  line-height: 2em; }
div.document.split div.scans .pages li .controls {
  text-align: center; }

div.document.split div.scans .pages li {
  border: 1px dotted #000; }
  div.document.split div.scans .pages li.selected {
    border-style: solid;
    background-color: #DAFFCD; }

.ui-autocomplete {
  font-family: inherit !important;
  font-size: inherit !important; }
  .ui-autocomplete a {
    font-size: smaller;
    line-height: 1.5em; }

/* Footer
==================================================================================================== */
#footer {
  background: #5a787e url(images/footer-bg.png) repeat-x 0 0;
  clear: both;
  height: 55px;
  padding: 20px 0; }
  #footer div.wrapper #need-help-info {
    color: #5a787e;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px; }
    #footer div.wrapper #need-help-info h6 {
      font-size: 14px;
      font-weight: bold;
      color: #F6D017;
      float: left;
      line-height: 18px;
      margin: 0 5px 0 0; }
    #footer div.wrapper #need-help-info p {
      float: left; }
    #footer div.wrapper #need-help-info a {
      color: #5a787e; }
    #footer div.wrapper #need-help-info a:hover {
      color: #fff; }
    #footer div.wrapper #need-help-info strong {
      color: #fff; }
    #footer div.wrapper #need-help-info strong a {
      color: #fff;
      text-decoration: none; }
    #footer div.wrapper #need-help-info p {
      margin: 0; }

body .ui-tooltip-content,
body .ui-tooltip-titlebar {
  font-size: 10.5px;
  line-height: 12px; }
  body .ui-tooltip-content a,
  body .ui-tooltip-titlebar a {
    color: #5a787e; }

body .ui-tooltip-content #need-help-info-content .line {
  display: block;
  padding: 2px 0; }
